<footer class="footer">
  <div class="container footer_desktop">
    <div class="row">
      <div class="col-md-3">
        <h5>Solutions</h5>
        <ul>
          <li><a href="{{ site.baseurl }}/solutions/ai-agent-protection/">AI Agent Protection</a></li>
          <li><a href="{{ site.baseurl }}/solutions/ai-powered-reports/">AI-Powered Reports</a></li>
          <li><a href="{{ site.baseurl }}/solutions/content-filtering/">Content Filtering</a></li>
          <li><a href="{{ site.baseurl }}/solutions/credential-identity-theft/">Credential Protection</a></li>
          <li><a href="{{ site.baseurl }}/solutions/data-loss-prevention/">Data Loss Prevention</a></li>
          <li><a href="{{ site.baseurl }}/solutions/dns-security/">DNS Security</a></li>
          <li><a href="{{ site.baseurl }}/solutions/remote-browser-isolation/">Remote Browser Isolation</a></li>
          <li><a href="{{ site.baseurl }}/solutions/secure-web-browser/">Secure Web Browser</a></li>
            
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Who We Serve</h5>
        <ul>
          <li><a href="{{ site.baseurl }}/security-for-msps/">MSPs</a></li>
          <li><a href="{{ site.baseurl }}/security-for-enterprises/">Enterprises</a></li>
            
        </ul>
        <div class="divider"></div>
        <h5>Company</h5>
        <ul>
          <li><a href="{{ site.baseurl }}/team/">Team</a></li>
          <li><a href="{{ site.baseurl }}/terms-conditions/">Terms & Conditions</a></li>
          <li><a href="{{ site.baseurl }}/compliance-policy/">Compliance Policy</a></li>
          <li><a id="myCustomTrigger" href="#">Complaint Form</a></li>
            
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Resources</h5>
        <ul>
          <li><a href="{{ site.baseurl }}/resources/">Blogs</a></li>
          <li><a href="{{ site.baseurl }}/news/">News</a></li>
          <li><a href="{{ site.baseurl }}/events/">Events</a></li>
          <li><a href="{{ site.baseurl }}/white-papers/">White Papers</a></li>
          <li><a href="{{ site.baseurl }}/datasheets/">Datasheets</a></li>
            
        </ul>

        <h5><a target="_blank" href="https://cloud.defensx.com/users/sign_in">Partner Login</a></h5>
       
      </div>
      <div class="col-md-3">
        <h5>Get Started</h5>
        <ul>
          <li><a href="{{ site.baseurl }}/pricing/">Pricing</a></li>
          <li><a href="#">Book a Demo</a></li>
          <li><a href="{{ site.baseurl }}/distributors/">Buy Now / Distributors</a></li>
            
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://defensx.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/tod1zk/b/5/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&amp;collectorId=84b6c6a5"></script>

  <script type="text/javascript">
    window.ATL_JQ_PAGE_PROPS = {
      "triggerFunction": function(showCollectorDialog) {
        jQuery("#myCustomTrigger").click(function(e) {
          e.preventDefault();
          showCollectorDialog();
        });
      }
    };
  </script>

  <div class="container footer_mobile">
    <div class="row">
      <!-- Solutions Accordion -->
      <div class="col-12">
        <div class="accordion" id="solutionsAccordionMobile">
          <h5 class="accordion-header" id="headingSolutionsMobile">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSolutionsMobile" aria-expanded="true" aria-controls="collapseSolutionsMobile">
              Solutions
            </button>
          </h5>
          <div id="collapseSolutionsMobile" class="accordion-collapse collapse" aria-labelledby="headingSolutionsMobile" data-bs-parent="#solutionsAccordionMobile">
            <div class="accordion-body">
              <ul>
                <li><a href="{{ site.baseurl }}/solutions/ai-agent-protection/">AI Agent Protection</a></li>
          <li><a href="{{ site.baseurl }}/solutions/ai-powered-reports/">AI-Powered Reports</a></li>
          <li><a href="{{ site.baseurl }}/solutions/content-filtering/">Content Filtering</a></li>
          <li><a href="{{ site.baseurl }}/solutions/credential-identity-theft/">Credential Protection</a></li>
          <li><a href="{{ site.baseurl }}/solutions/data-loss-prevention/">Data Loss Prevention</a></li>
          <li><a href="{{ site.baseurl }}/solutions/dns-security/">DNS Security</a></li>
          <li><a href="{{ site.baseurl }}/solutions/remote-browser-isolation/">Remote Browser Isolation</a></li>
          <li><a href="{{ site.baseurl }}/solutions/secure-web-browser/">Secure Web Browser</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Who We Serve Accordion -->
      <div class="col-12">
        <div class="accordion" id="serveAccordionMobile">
          <h5 class="accordion-header" id="headingServeMobile">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseServeMobile" aria-expanded="true" aria-controls="collapseServeMobile">
              Who We Serve
            </button>
          </h5>
          <div id="collapseServeMobile" class="accordion-collapse collapse" aria-labelledby="headingServeMobile" data-bs-parent="#serveAccordionMobile">
            <div class="accordion-body">
              <ul>
                <li><a href="{{ site.baseurl }}/security-for-msps/">MSPs</a></li>
          <li><a href="{{ site.baseurl }}/security-for-enterprises/">Enterprises</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Company Accordion -->
      <div class="col-12">
        <div class="accordion" id="companyAccordionMobile">
          <h5 class="accordion-header" id="headingCompanyMobile">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCompanyMobile" aria-expanded="true" aria-controls="collapseCompanyMobile">
              Company
            </button>
          </h5>
          <div id="collapseCompanyMobile" class="accordion-collapse collapse" aria-labelledby="headingCompanyMobile" data-bs-parent="#companyAccordionMobile">
            <div class="accordion-body">
              <ul>
                <li><a href="{{ site.baseurl }}/team/">Team</a></li>
                <li><a href="{{ site.baseurl }}/terms-conditions/">Terms & Conditions</a></li>
                <li><a href="{{ site.baseurl }}/compliance-policy/">Compliance Policy</a></li>
                <li><a id="myCustomTrigger" href="#">Complaint Form</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Resources Accordion -->
      <div class="col-12">
        <div class="accordion" id="resourcesAccordionMobile">
          <h5 class="accordion-header" id="headingResourcesMobile">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResourcesMobile" aria-expanded="true" aria-controls="collapseResourcesMobile">
              Resources
            </button>
          </h5>
          <div id="collapseResourcesMobile" class="accordion-collapse collapse" aria-labelledby="headingResourcesMobile" data-bs-parent="#resourcesAccordionMobile">
            <div class="accordion-body">
              <ul>
                <li><a href="{{ site.baseurl }}/resources/">Blogs</a></li>
          <li><a href="{{ site.baseurl }}/news/">News</a></li>
          <li><a href="{{ site.baseurl }}/events/">Events</a></li>
          <li><a href="{{ site.baseurl }}/white-papers/">White Papers</a></li>
          <li><a href="{{ site.baseurl }}/datasheets/">Datasheets</a></li>
            
              </ul>
            </div>
          </div>
        </div>
        
      </div>

      <!-- Get Started Accordion -->
      <div class="col-12">
        <div class="accordion" id="getStartedAccordionMobile">
          <h5 class="accordion-header" id="headingGetStartedMobile">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGetStartedMobile" aria-expanded="true" aria-controls="collapseGetStartedMobile">
              Get Started
            </button>
          </h5>
          <div id="collapseGetStartedMobile" class="accordion-collapse collapse" aria-labelledby="headingGetStartedMobile" data-bs-parent="#getStartedAccordionMobile">
            <div class="accordion-body">
              <ul>
                <li><a href="{{ site.baseurl }}/pricing/">Pricing</a></li>
          <li><a href="#">Book a Demo</a></li>
          <li><a href="{{ site.baseurl }}/distributors/">Buy Now / Distributors</a></li>
              </ul>
            </div>
          </div>
        </div>
        <h5><a target="_blank" href="https://cloud.defensx.com/users/sign_in">Partner Login</a></h5>
      </div>
    </div>
  </div>
</footer>

 