<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/defensX-logo.svg" alt="DefensX Logo" height="40">
      </a>

      <!-- Mobile hamburger button -->
      <div id="overlay" class="overlay"></div>
      <button class="navbar-toggler border-0 bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-icon">
          <img class="menu-icon-open" src="{{ site.baseurl }}/assets/images/menu-icon-open.svg" alt="Hamburger Menu">
          <img class="menu-icon-close d-none" src="{{ site.baseurl }}/assets/images/menu-icon-close.svg" alt="Close Menu">
        </span>
      </button>

      <!-- Nav Items -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% for item in site.nav %}
            {% if item.submenu %}
              <!-- Solutions: dropdown on click for mobile -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}{{ item.url }}" id="navbarDropdown{{ forloop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ item.title }}
                  <span class="dropdown-icon">
                    <img src="{{ site.baseurl }}/assets/images/mobile-menu-icon-down.svg" alt="Dropdown Icon">
                  </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
                  {% for sub in item.submenu %}
                    <li><a class="dropdown-item" href="{{ site.baseurl }}{{ sub.url }}">{{ sub.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <!-- Normal menu item -->
              <li class="nav-item {% if forloop.last %}highlight{% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
