<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <script src="{{ site.baseurl }}/assets/js/jquery-3.6.0.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/lottie.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.min.css"> 
</head>