<div id="our-distributors">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Our Distributors</h2>
      </div>
    </div>
    <div class="row boxs">
      <div class="col-md-4">
        <div class="image">
          <p><img src="{{ site.baseurl }}/assets/images/our-distributors/sherweb.jpg" alt="Sherweb"></p>
        </div>
        <div class="text">
          <p><a href="#">Get Started</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image">
          <p><img src="{{ site.baseurl }}/assets/images/our-distributors/pax8.jpg" alt="Pax8"></p>
        </div>
        <div class="text">
          <p><a href="#">Get Started</a></p>
        </div>
      </div>

    </div>
  </div>
</div>