<div class="blog-other-links">

<ul>
    <li><a href="{{ site.baseurl }}/press/defensx-to-demonstrate-msp-success-stories-with-cyber-risk-visibility-for-smb-s-with-its-secure-browser-at-pax8-s-beyond-event-in-denver/">DefensX To Demonstrate MSP Success Stories with Cyber Risk Visibility for SMB’s with its Secure Browser at Pax8’s Beyond Event in Denver</a></li>
    <li><a href="{{ site.baseurl }}/press/pax8-and-defensx-announce-new-partnership-to-provide-msps-zero-trust-endpoint-security-capabilities-for-all-devices/">Pax8 and DefensX Announce New Partnership to Provide MSPs Zero-Trust Endpoint Security Capabilities for All Devices</a></li>
    <li><a href="{{ site.baseurl }}/press/defensx-and-sms-global-technologies-launch-partnership-to-protect-users-from-growing-cyber-attacks-anywhere-on-any-network-and-on-any-device/">DefensX and SMS Global Technologies Launch Partnership to Protect Users from Growing Cyber Attacks Anywhere, on any Network and on any Device</a></li>
    <li><a href="{{ site.baseurl }}/press/defensx-and-connx-partner-to-protect-users-working-anywhere-over-any-network-and-on-any-device/">DefensX and ConnX Partner to Protect Users Working Anywhere, over any Network and on Any Device</a></li>
    <li><a href="{{ site.baseurl }}/press/defensx-appoints-al-onove-as-chief-revenue-officer-martina-aufiero-as-chief-financial-officer-selcan-taskiran-as-chief-marketing-officer-and-mary-ivaliotis-as-chief-customer-officer/">DefensX appoints Al Onove as Chief Revenue Officer, Martina Aufiero as Chief Financial Officer, Selcan Taskiran as Chief Marketing Officer and Mary Ivaliotis as Chief Customer Officer</a></li>
</ul>

</div>