<div id="resourcesBox">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="brands-title mb-50">
                    <h2>View our top resources</h2> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>What is Traditional Data Loss Prevention (DLP)?</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Buyer’s Guide</p>
                    </div>
                    <div class="title">
                        <h4>Download the MSP Buyer’s Guide</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>What is DNS security?</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>