<div id="resourcesBox">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="brands-title mb-50">
                    <h2>View our top resources</h2> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <p><a href="{{ site.baseurl }}/blog/stop-adware-at-the-gate-secure-browsing-prevents-attacks-and-protects-productivity/"><img src="{{ site.baseurl }}/assets/images/blog/DefensX_Adware_Blog_.jpg"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>Stop Adware at The Gate: Secure Browsing Prevents Attacks and Protects Productivity</h4>
                        <p><a href="{{ site.baseurl }}/blog/stop-adware-at-the-gate-secure-browsing-prevents-attacks-and-protects-productivity/">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="{{ site.baseurl }}/blog/another-great-day-along-the-way-we-are-proud-to-join-the-invest101-family/"><img src="{{ site.baseurl }}/assets/images/blog/DefensX-Blog-TDF-Social-Image-05-08-2023.jpg"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>Another Great Day Along The Way: We Are Proud To Join the Invest101 Family</h4>
                        <p><a href="{{ site.baseurl }}/blog/another-great-day-along-the-way-we-are-proud-to-join-the-invest101-family/">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="{{ site.baseurl }}/blog/a-great-day-for-our-customers-channel-partners-and-company/"><img src="{{ site.baseurl }}/assets/images/blog/DEFENSX-Osmans-Blog-04-16-2023.jpg"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>A Great Day for Our Customers, Channel Partners, and Company</h4>
                        <p><a href="{{ site.baseurl }}/blog/a-great-day-for-our-customers-channel-partners-and-company/">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>