<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <script src="{{ site.baseurl }}/assets/js/jquery-3.6.0.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/lottie.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.min.css"> </head>

<body> {% include header.html %}
    <div class="section_slider">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1>Redefining any browser as a secure workspace.</h1>
                    <p>360-degree Web browser protection for every user, credential and session - all without you needing to change a thing</p>
                    <p class="bottons"><a href="/for-msps/">For MSPs</a> <a href="/for-enterprises/">For Enterprises</a></p>
                </div>
                <div class="col-md-6 text-center">
                    <div id="lottie-container"></div>
                    <!--<p><img src="/assets/images/homepage/section_slider_right_content_img.svg" alt="Credential Protection"></p>-->
                </div>
            </div>
        </div>
    </div>
    <div class="section_protection_where-you">
        <div class="container">
            <div class="row centerline">
                <div class="col-md-4">
                    <h3>Protection where you need it most.</h3></div>
                <div class="col-md-8">
                    <div class="row rowdown">
                        <div class="col-md-4 first">
                            <h4>80%</h4>
                            <p>of breaches involve browsers on mobile & desktop</p>
                        </div>
                        <div class="col-md-4 second">
                            <h4>68%</h4>
                            <p>of attacks target endpoints</p>
                        </div>
                        <div class="col-md-4 last">
                            <h4>61%</h4>
                            <p>of breaches involve credentials</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-mds">
                    <h5>Data Loss Protection</h5></div>
                <div class="col-mds">
                    <h5>Remote Browser Isolation</h5></div>
                <div class="col-mds">
                    <h5>Identity and Credential Theft Protection</h5></div>
                <div class="col-mds">
                    <h5>VDI Replacement</h5></div>
                <div class="col-mds">
                    <h5>SaaS Application 
Access Control</h5></div>
            </div>
            <div class="row">
                <div class="col-mds">
                    <h5>Human Risk Management</h5></div>
                <div class="col-mds">
                    <h5>Adware 
Protection</h5></div>
                <div class="col-mds">
                    <h5>Advanced DNS 
Security</h5></div>
                <div class="col-mds">
                    <h5>MFA Breach Protection</h5></div>
                <div class="col-mds">
                    <h5>Secure Web Browser</h5></div>
            </div>
        </div>
    </div>
    <div id="contentbox">
        <div class="section section_1 shadowbg">
            <div class="container">
                <div class="row row1">
                    <div class="col-md-6">
                        <p><img src="{{ site.baseurl }}/assets/images/homepage/browser-icons.svg" alt="Browser icon listed"></p>
                    </div>
                    <div class="col-md-5">
                        <h2>Comprehensive Browser Security for Modern Threats on Any Browser</h2>
                        <p>Complete Browser security shouldn't be contingent on expensive proprietary browsers or changes to user behavior. With DefensX, 360-degree browser security is seamlessly integrated into any browser. <span>The result? Seamless policy adherence, satisfied users, and uninterrupted efficiency, productivity, and cost-effectiveness.</span></p>
                        <h5><a href="#">Download a sample report <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="white"/>
                            </svg>
                            </a></h5> </div>
                </div>
            </div>
        </div>
        <div class="section section_2">
            <div class="container">
                <div class="row row1">
                    <div class="col-md-6">
                        <p><img src="{{ site.baseurl }}/assets/images/homepage/Zero_Trust_Browser_Protection.svg" alt="Zero Trust"></p>
                    </div>
                    <div class="col-md-5">
                        <h2>Scalable, Zero Trust Security with Policy-Aligned Browser Protection</h2>
                        <p>By aligning the browser with organizational policies and regulations, dynamically filtering content and files, and guarding every session, user, and credential, enterprises and MSPs can boost efficiency, scale effortlessly, and surpass enterprise-grade security standards—achieving Zero Trust by design.</p>
                        <h5><a href="#">Book a demo to see how <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="white"/>
                            </svg>
                            </a></h5> </div>
                </div>
            </div>
        </div>
        <div class="section section_3">
            <div class="container">
                <div class="row row1">
                    <div class="col-md-6">
                        <p><img src="{{ site.baseurl }}/assets/images/homepage/OurProduct_Dashboard.png" alt="Automated AI Risk Reporting"></p>
                    </div>
                    <div class="col-md-5">
                        <h2>Automated AI Risk Reporting</h2>
                        <p>At DefensX, we believe organizations should have seamless, real-time visibility into their entire risk and security posture. Our human risk management dashboard provides automated, in-depth reports on human risk and vulnerabilities, empowering organizations worldwide to effortlessly achieve Zero Trust and cyber resilience.</p>
                        <h5><a href="#">Book a demo to see how <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="white"/>
                            </svg>
                            </a></h5> </div>
                </div>
            </div>
        </div>
        <div class="section section_4">
            <div class="container">
                <div class="row row1">
                    <div class="col-md-6">
                        <p><img src="{{ site.baseurl }}/assets/images/homepage/Abstract_VDI.svg" alt="A Modern, Secure, and Cost-Effective VDI Alternative—Powered by Your Browser"></p>
                    </div>
                    <div class="col-md-5">
                        <h2>A Modern, Secure, and Cost-Effective VDI Alternative—Powered by Your Browser</h2>
                        <p>DefensX offers a modern, cost-effective alternative to VDI, enabling organizations to cut costs, strengthen security, and enhance user experience—without the operational challenges of legacy virtual desktops. By shifting secure access controls to the browser, DefensX delivers robust protection without the complexity of traditional VDI solutions.</p>
                        <h5><a href="#">Book a demo to see how <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="white"/>
                            </svg>
                            </a></h5> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="references">
        <div id="brands-1" class="py-100 brands-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9">
                        <div class="brands-title mb-50">
                            <h2>Innovation preferred by leaders</h5> </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="owl-carousel brands-carousel-6">
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.connectwise.com/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/connectwise-company-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.spikeit.co/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/spikeit-company-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.pax8.com/en-us/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/pax8-company-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.switchconnect.co/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/switch-connect-company-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.datto.com/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/datto-company-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://revo.vc/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/revo-company-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://oselo.com.tr/home/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/oselo-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://icmconnect.com/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/icm-logo-v2.jpg" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.nasabil.com/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/nasa-bilgi-islem-logo.jpg" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.turkiyekalkinmafonu.com.tr/en"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/tkf-company-logo.png" alt="brand-logo"></a>
                            </div>
                            <div class="brand-logo">
                                <a target="_blank" href="https://www.exertis.co.uk/"><img class="img-fluid" src="{{ site.baseurl }}/assets/images/partners/exertis-logo.png" alt="brand-logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div id="learnmoreBox">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text">
                    <p>See DefensX in Action</p>
                    <h2>Watch the on-demand demo today.</h2>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="resourcesBox">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <div class="brands-title mb-50">
                    <h2>View our top resources</h5> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>What is Traditional Data Loss Prevention (DLP)?</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Buyer’s Guide</p>
                    </div>
                    <div class="title">
                        <h4>Download the MSP Buyer’s Guide</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>What is DNS security?</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>What is Traditional Data Loss Prevention (DLP)?</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Buyer’s Guide</p>
                    </div>
                    <div class="title">
                        <h4>Download the MSP Buyer’s Guide</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <p><a href="#"><img src="{{ site.baseurl }}/assets/images/homepage/resources-bg.png"></a></p>
                </div>
                <div class="text">
                    <div class="subTitle">
                        <p>Blog</p>
                    </div>
                    <div class="title">
                        <h4>What is DNS security?</h4>
                        <p><a href="#">Read more <img src="{{ site.baseurl }}/assets/images/homepage/Vector-read-more.png"></a></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
        
</div>
    
    
    {% include footer.html %}  


       

    </body>

</html>