<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="distributors">

  {% include header.html %}

  <div id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Get started with DefensX</h1>
                <p>DefensX has partnered with distributors to ensure quick deployment and industry leading support. Not sure what distributor? Contact us below and we will match you with the perfect partner!</p>
            </div>
        </div>
    </div>
</div> 

<main>
   
  {% include our-distributors.html %}  

  {{ content }}
 
</main>
  


  {% include footer.html %}  

 
</body>

</html>